DEV/bin/Debug/net5.0-windows/DEV.dll
DEV/bin/Debug/net5.0-windows/DEV.pdb
DEV/bin/Debug/net5.0-windows/ref/DEV.dll
DEV/obj/Debug/net5.0-windows/DEV.dll
DEV/obj/Debug/net5.0-windows/DEV.pdb
DEV/obj/Debug/net5.0-windows/ref/DEV.dll
