DEV/bin/Debug/net5.0-windows/DEV.dll
DEV/bin/Debug/net5.0-windows/DEV.pdb
DEV/bin/Debug/net5.0-windows/ref/DEV.dll
DEV/obj/Debug/net5.0-windows/DEV.dll
DEV/obj/Debug/net5.0-windows/DEV.pdb
DEV/obj/Debug/net5.0-windows/ref/DEV.dll
TEST/bin/Debug/net5.0-windows/dev.dll
TEST/bin/Debug/net5.0-windows/dev.exe
TEST/bin/Debug/net5.0-windows/dev.pdb
TEST/bin/Debug/net5.0-windows/Microsoft.TestPlatform.CommunicationUtilities.dll
TEST/bin/Debug/net5.0-windows/Microsoft.TestPlatform.CoreUtilities.dll
TEST/bin/Debug/net5.0-windows/Microsoft.TestPlatform.CrossPlatEngine.dll
TEST/bin/Debug/net5.0-windows/Microsoft.TestPlatform.PlatformAbstractions.dll
TEST/bin/Debug/net5.0-windows/Microsoft.TestPlatform.Utilities.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.CodeCoverage.Shim.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.Common.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
TEST/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
TEST/bin/Debug/net5.0-windows/Newtonsoft.Json.dll
TEST/bin/Debug/net5.0-windows/NuGet.Frameworks.dll
TEST/bin/Debug/net5.0-windows/TEST.deps.json
TEST/bin/Debug/net5.0-windows/TEST.dll
TEST/bin/Debug/net5.0-windows/TEST.pdb
TEST/bin/Debug/net5.0-windows/TEST.runtimeconfig.dev.json
TEST/bin/Debug/net5.0-windows/TEST.runtimeconfig.json
TEST/bin/Debug/net5.0-windows/testhost.dll
TEST/bin/Debug/net5.0-windows/testhost.exe
TEST/bin/Debug/net5.0-windows/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/ref/TEST.dll
TEST/bin/Debug/net5.0-windows/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
TEST/bin/Debug/net5.0-windows/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DEV/obj/DEV.csproj.nuget.dgspec.json
DEV/obj/project.nuget.cache
DEV/obj/Debug/net5.0-windows/apphost.exe
DEV/obj/Debug/net5.0-windows/DEV.AssemblyInfo.cs
DEV/obj/Debug/net5.0-windows/DEV.AssemblyInfoInputs.cache
DEV/obj/Debug/net5.0-windows/DEV.assets.cache
DEV/obj/Debug/net5.0-windows/DEV.dll
DEV/obj/Debug/net5.0-windows/DEV.genruntimeconfig.cache
DEV/obj/Debug/net5.0-windows/DEV.pdb
DEV/obj/Debug/net5.0-windows/ref/DEV.dll
DEV/bin/Debug/net5.0-windows/DEV.deps.json
DEV/bin/Debug/net5.0-windows/DEV.dll
DEV/bin/Debug/net5.0-windows/DEV.exe
DEV/bin/Debug/net5.0-windows/DEV.pdb
DEV/bin/Debug/net5.0-windows/ref/DEV.dll
